In [1]:
import json, couchdb
import geopandas as gpd
import pandas as pd

# Repuired to parse dictionary to MultiPolygon
from shapely.geometry import MultiPolygon, shape

# Connect to CouchDB-sudo
server = couchdb.Server('http://admin:password@172.26.131.88:5984')
db = server['sudo']

# Define view path
view_path_1 = '_design/sudo/_view/children_mother_education'
view_path_2 = '_design/sudo/_view/family_stress'
view_path_3 = '_design/sudo/_view/family_violence'
view_path_4 = '_design/sudo/_view/family_violence_patient'
view_path_5 = '_design/sudo/_view/housing_stress'

In [2]:
# children_mother_education
data_1 = db.view(view_path_1, include_docs = True, reduce = False)
list_1 = []
for item in data_1:
    geo_str = str(item['doc']['geometry'])
    geo_json = json.loads(geo_str.replace("'", '"'))
    item['doc']['geometry'] = MultiPolygon(shape(geo_json))
    list_1.append(item['doc'])

df_1 = gpd.GeoDataFrame(list_1)
df_1.head()

,_id,_rev,label,id,lga_code,lga_name,chldrn_fmls_mthr_lw_edctnl_attnmnt_2016_pc_in_whre_the_hs,feature_code,feature_name,geometry
0,0ea5ab7a8c03e1447c362339a59243fb,1-9ae207979e57a74bc86caa227697ca43,children_mother_education,phidu_families_lga_2016.1,10050,Albury (C),20.826809,10050,Albury (C),"MULTIPOLYGON (((146.82130 -36.04997, 146.82138..."
1,0ea5ab7a8c03e1447c362339a5927d37,1-d40d75d33bab6457688535d6332a3282,children_mother_education,phidu_families_lga_2016.10,10800,Bland (A),22.159091,10800,Bland (A),"MULTIPOLYGON (((146.40907 -33.79140, 146.39107..."
2,0ea5ab7a8c03e1447c362339a594f95f,1-35cb4286b7b8f7df5b42bb0f0d5d8153,children_mother_education,phidu_families_lga_2016.100,16950,Shoalhaven (C),29.491091,16950,Shoalhaven (C),"MULTIPOLYGON (((150.35895 -35.58656, 150.35885..."
3,0ea5ab7a8c03e1447c362339a594fdb0,1-9012bdfd3d52ce03a38d17ab31e0344d,children_mother_education,phidu_families_lga_2016.101,17000,Singleton (A),30.588720,17000,Singleton (A),"MULTIPOLYGON (((150.79493 -32.50099, 150.79925..."
4,0ea5ab7a8c03e1447c362339a5950309,1-7600cfe0bf67bcdb5d3fd5ab5b4afb57,children_mother_education,phidu_families_lga_2016.102,17040,Snowy Monaro Regional (A),11.926928,17040,Snowy Monaro Regional (A),"MULTIPOLYGON (((149.09727 -35.77733, 149.09632..."

In [3]:
# family_stress
data_2 = db.view(view_path_2, include_docs = True, reduce = False)
list_2 = []
for item in data_2:
    geo_str = str(item['doc']['geometry'])
    geo_json = json.loads(geo_str.replace("'", '"'))
    item['doc']['geometry'] = MultiPolygon(shape(geo_json))
    list_2.append(item['doc'])

df_2 = gpd.GeoDataFrame(list_2)
df_2.head()

,_id,_rev,label,id,lga_code,lga_name,indicator_2015,feature_code,feature_name,geometry
0,0ea5ab7a8c03e1447c362339a595f2c1,1-0a3b6a7372c89b0c2ef6602d6d55a3d6,family_stress,lga_vcams_indicator_24_2_2014_15.20110,20110,Alpine (S),10.434783,20110,Alpine (S),"MULTIPOLYGON (((146.67057 -36.56828, 146.67056..."
1,0ea5ab7a8c03e1447c362339a595f4f2,1-f13efbef47d897b5643a53ba44d56f2b,family_stress,lga_vcams_indicator_24_2_2014_15.20260,20260,Ararat (RC),9.433962,20260,Ararat (RC),"MULTIPOLYGON (((143.18569 -37.18385, 143.18598..."
2,0ea5ab7a8c03e1447c362339a595f59b,1-f35251d8dc32ed0e5d39c59d5d060e48,family_stress,lga_vcams_indicator_24_2_2014_15.20570,20570,Ballarat (C),12.303881,20570,Ballarat (C),"MULTIPOLYGON (((143.85331 -37.68123, 143.85320..."
3,0ea5ab7a8c03e1447c362339a5960137,1-56da337d9f6d16b8f15f8bea3746d9d6,family_stress,lga_vcams_indicator_24_2_2014_15.20660,20660,Banyule (C),11.131060,20660,Banyule (C),"MULTIPOLYGON (((145.08875 -37.69136, 145.08925..."
4,0ea5ab7a8c03e1447c362339a5960621,1-908edec2ecaddd02032981d478d9ada7,family_stress,lga_vcams_indicator_24_2_2014_15.20740,20740,Bass Coast (S),9.714286,20740,Bass Coast (S),"MULTIPOLYGON (((145.35086 -38.56586, 145.35083..."

In [4]:
# family_violence
data_3 = db.view(view_path_3, include_docs = True, reduce = False)
list_3 = []
for item in data_3:
    geo_str = str(item['doc']['geometry'])
    geo_json = json.loads(geo_str.replace("'", '"'))
    item['doc']['geometry'] = MultiPolygon(shape(geo_json))
    list_3.append(item['doc'])

df_3 = gpd.GeoDataFrame(list_3)
df_3.head()

,_id,_rev,label,id,lga_code11,lga_name11,domestic_family_sexual_violence_rate_per_100k,feature_code,feature_name,geometry
0,0ea5ab7a8c03e1447c362339a5989d22,1-cc2e668fee79da23f618a038648ea4f7,family_violence,csa_family_violence_violence_rate_lga_jun2016_...,20110,Alpine (S),39.9,20110,Alpine (S),"MULTIPOLYGON (((146.67398 -37.11328, 146.67397..."
1,0ea5ab7a8c03e1447c362339a598a942,1-046dca61ffa94c3b4b60ceda1c8c18fc,family_violence,csa_family_violence_violence_rate_lga_jun2016_...,20260,Ararat (RC),59.7,20260,Ararat (RC),"MULTIPOLYGON (((143.26960 -37.20763, 143.26966..."
2,0ea5ab7a8c03e1447c362339a598add7,1-5bd2cb0f199b59ba603ae9dd59b311f7,family_violence,csa_family_violence_violence_rate_lga_jun2016_...,20570,Ballarat (C),73.1,20570,Ballarat (C),"MULTIPOLYGON (((143.62150 -37.46772, 143.61693..."
3,0ea5ab7a8c03e1447c362339a598b3f1,1-abe5131dbe52331f73c98109e9a5086b,family_violence,csa_family_violence_violence_rate_lga_jun2016_...,20660,Banyule (C),30.2,20660,Banyule (C),"MULTIPOLYGON (((145.07453 -37.71613, 145.07461..."
4,0ea5ab7a8c03e1447c362339a598c2e4,1-3587ed0483cb9c14c7f2dfa083cdebd2,family_violence,csa_family_violence_violence_rate_lga_jun2016_...,20740,Bass Coast (S),38.0,20740,Bass Coast (S),"MULTIPOLYGON (((145.35086 -38.56586, 145.35083..."

In [5]:
# family_violence_patient
data_4 = db.view(view_path_4, include_docs = True, reduce = False)
list_4 = []
for item in data_4:
    geo_str = str(item['doc']['geometry'])
    geo_json = json.loads(geo_str.replace("'", '"'))
    item['doc']['geometry'] = MultiPolygon(shape(geo_json))
    list_4.append(item['doc'])

df_4 = gpd.GeoDataFrame(list_4)
df_4.head()

,_id,_rev,label,id,lga_code11,lga_name11,patient_rate_per_100k_2017_18,feature_code,feature_name,geometry
0,0ea5ab7a8c03e1447c362339a59b2db2,1-a2cb7355264341bcdd710123aa0dba4c,family_violence_patient,csa_family_violence_patient_rate_lga_jul2013_j...,20110,Alpine (S),15.8,20110,Alpine (S),"MULTIPOLYGON (((146.67398 -37.11328, 146.67397..."
1,0ea5ab7a8c03e1447c362339a59b39b0,1-d46a0ebb1d0c20d8d03b0570adcb7fde,family_violence_patient,csa_family_violence_patient_rate_lga_jul2013_j...,20260,Ararat (RC),17.0,20260,Ararat (RC),"MULTIPOLYGON (((143.26960 -37.20763, 143.26966..."
2,0ea5ab7a8c03e1447c362339a59b4367,1-cb96de1ec6ce011387a399148716cad5,family_violence_patient,csa_family_violence_patient_rate_lga_jul2013_j...,20570,Ballarat (C),32.6,20570,Ballarat (C),"MULTIPOLYGON (((143.62150 -37.46772, 143.61693..."
3,0ea5ab7a8c03e1447c362339a59b43c6,1-1010acde9ffef1bedde9b7e4e94d7ca7,family_violence_patient,csa_family_violence_patient_rate_lga_jul2013_j...,20660,Banyule (C),12.2,20660,Banyule (C),"MULTIPOLYGON (((145.07453 -37.71613, 145.07461..."
4,0ea5ab7a8c03e1447c362339a59b4794,1-53290c29244702f46b1c0f4d9ff54bf8,family_violence_patient,csa_family_violence_patient_rate_lga_jul2013_j...,20740,Bass Coast (S),17.1,20740,Bass Coast (S),"MULTIPOLYGON (((145.35086 -38.56586, 145.35083..."

In [6]:
# housing_stress
data_5 = db.view(view_path_5, include_docs = True, reduce = False)
list_5 = []
for item in data_5:
    geo_str = str(item['doc']['geometry'])
    geo_json = json.loads(geo_str.replace("'", '"'))
    item['doc']['geometry'] = MultiPolygon(shape(geo_json))
    list_5.append(item['doc'])

df_5 = gpd.GeoDataFrame(list_5)
df_5.head()

,_id,_rev,label,id,tenure_type,lga_code16,low_income_603_to_964_dollars_per_wk,very_low_income_less_than_603_dollars_per_wk,total,lga_name16,feature_code,feature_name,geometry
0,0ea5ab7a8c03e1447c362339a59d6436,1-d6378bd5655b96058923bbc22d8589a0,housing_stress,households_in_housing_stress_total_2018_sa.1,Total households,40070,926,2378,8678,Adelaide (C),40070,Adelaide (C),"MULTIPOLYGON (((138.58013 -34.90600, 138.58063..."
1,0ea5ab7a8c03e1447c362339a59ddaa6,1-dc6afca973520087cd440e2a6c3f3717,housing_stress,households_in_housing_stress_total_2018_sa.106,Total households,41750,90,108,416,Elliston (DC),41750,Elliston (DC),"MULTIPOLYGON (((134.61758 -33.71707, 134.61757..."
2,0ea5ab7a8c03e1447c362339a59de5d1,1-a33b027292900d8c441ecdbd7e4a0da0,housing_stress,households_in_housing_stress_total_2018_sa.113,Total households,41830,124,173,685,Flinders Ranges (DC),41830,Flinders Ranges (DC),"MULTIPOLYGON (((137.97384 -32.33379, 137.97377..."
3,0ea5ab7a8c03e1447c362339a59df37b,1-d12d63d0bcc105d54938f3cb267b41d4,housing_stress,households_in_housing_stress_total_2018_sa.120,Total households,41960,91,115,483,Franklin Harbour (DC),41960,Franklin Harbour (DC),"MULTIPOLYGON (((136.67052 -33.61579, 136.67059..."
4,0ea5ab7a8c03e1447c362339a59e0249,1-277211d61c413774a3989aa6adb318b3,housing_stress,households_in_housing_stress_total_2018_sa.127,Total households,42030,1562,2085,9038,Gawler (T),42030,Gawler (T),"MULTIPOLYGON (((138.73141 -34.58905, 138.73140..."